body{
  background-color: rgb(214, 213, 213);
  overflow-x: hidden;
  overflow-y: hidden;
}

body, canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  border: 2px solid #000;
  cursor: crosshair;
  /* Asegurar que el canvas ocupe toda la pantalla */
  display: block;
  /* Para evitar problemas de borde pixelado */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-color: rgb(255, 255, 255);
}

#colorPicker, span, h1{
  margin: 1vh 0 0.5vh 3vh;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 35px;
}

span{
  font-size: 20px;
}

#colorPicker{
  width: 60px;
  transition: all 0.2s ease-in-out;
}

#colorPicker:hover{
  cursor: pointer;
  scale: 1.01;
}
